  
  header, footer { height: 50px; background-color: #E0FFFF; padding: 25px;  }
  div { border: 1px solid blue  ; margin: 15px ;  height: 200px;  }
  div button {background-color: white; font-family:'Arial';color: blue; padding: 15px ; }
  p button {background-color: red; font-family:'Geneva'; color: white; padding:5px;  }
  p {background-color: #FFFACD; }

 header button { border: 1px solid white ;
  padding: 20px ;
   color: white; 
   float: right ; 
   background-color: #008B8B;   }
footer button { border: 1px solid white ;
 padding: 20px ; 
 color: white;
  background-color: #008B8B;  }